{% extends 'layouts/index.html' %}
{% load static %}

{% block content %}
    <style type="text/css">
        .product_block {
            width: 30%;
            margin-left: 10%;
            margin-top: 20px;
        }

        .product_block > img {
            width: 100%;
        }

        .review_block {
            padding: 10px;
            color: #ffffff;
            background: #242b2e;
            margin-top: 20px;
        }
    </style>
    <div class="product_block">
        {% if product.image %}
            <img src="/media/{{ product.image }}" alt="">
        {% else %}
            <img src="{% static 'not_found.jpg' %}" alt="/">
        {% endif %}
        <h1>{{ product.title }}</h1>
        {% if product.price < 10000 %}
            <h5 class="card-price" style="color: #fa4040">{{ product.price }}</h5>
        {% else %}
            <h5 class="card-price">{{ product.price }}</h5>
        {% endif %}
        <h5>{{ product.description }}</h5>
        <div class="reviews">
            {% for review in reviews %}
                <div class="review_block">
                    <h5>{{ review.text }}</h5>
                </div>
            {% endfor %}
        </div>

    </div>
    {% if user.is_anonymous %}
    {% else %}
        <form action="/products/{{ product.id }}/" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="Create">
        </form>
    {% endif %}
{% endblock %}