{% extends 'layouts/index.html' %}
{% load static %}

{% block content %}

    <div class="search">
        <form action="/products/" method="get">
            <input type="text" name="search_title" placeholder="search title">
            <input type="text" name="search_description" placeholder="search description">
            <input type="submit" value="Search_title">
        </form>
    </div>
    <style type="text/css">
        .products {
            width: 80%;
            margin-left: 10%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .products > img {
            width: 10%;
        }

        .
    </style>

    <div class="products">
        {% for product in products %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    {% if product.image %}
                        <img src="/media/{{ product.image }}" alt="">
                    {% else %}
                        <img src="{% static 'not_found.jpg' %}" alt="" width="100%">
                    {% endif %}
                    {% if product.price < 10000 %}
                        <h5 class="card-price" style="color: #fa4040">{{ product.price }}</h5>
                    {% else %}
                        <h5 class="card-price">{{ product.price }}</h5>
                    {% endif %}
                    <h5 class="card-title">{{ product.title }}</h5>
                    <a href="/products/{{ product.id }}/" class="card-link">More</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="pages">
        {% for page in pages %}
            <a href="/products/?page={{ page }}">
                <button>
                    {{ page }}
                </button>
            </a>
        {% endfor %}
    </div>

{% endblock %}
